html {
    font-family: Arial;
}

/* General div colour and margin */
div {
    margin: 10px;
    background-color: lightgoldenrodyellow;
}

/* Header formatting */
.header > h3 {
    text-align: center;
    vertical-align: bottom;
    bottom: 25px;
}

/* Keep header image on left side */
.header-img {
    margin: 10px;
    position: relative;
    left: 10px;
}

/* Link button format */
button {
    margin: 5px;
    padding: 5px;
    font-style: italic;
    /* background-color: lightgray; */
}

button:hover {
    background-color: lightblue;
}

button:active {
    background-color: lightskyblue;
}

/* button:focus {
    background-color: yellow;
} */


/* Aside 1 */
.aside1 {
    /* float: left; */
    width: 25%;
    position: sticky;
    top: 5px;
}

/* Wrap photos */
.aside-img {
    width: 100%;
    height: 100%;
}

/* Aside 2 */
.aside2 {
    width: 25%;
    margin-bottom: 150px;   /* Prevents the bottom of the list from being covered by the footer */
}

/* List format */
ol {
    margin: 10px;
    padding: 10px;
    list-style-position: inside;

}

ol > li {
    margin: 10px;
    background-color: cyan;
}

span {
    background-color: lightgreen;
}

/* Aside 3 */
.aside3 {
    float: right;
    width: 20%;
}

/* Remove bullet points from list */
.aside3 > li {
    list-style-type: none;
}

/* Checkbox colours */
.aside3 > li:nth-child(odd) {
    background: gold;
}

.aside3 > :nth-child(even) {
    background: burlywood;
}

/* Checkbox rule to cross out item when checked */
input:checked + label{
    text-decoration: line-through;
    background-color: lightgray;
}

/* Add red-cross after checked item */
label::after {
    content: '  \274C';
}

/* Center div */
.middle {
    float: right;
    width: 45%;
}

/* Sections in Main Content */
p {
    border-style: round;
    margin: 5px;
    padding: 5px;
    background-color: peachpuff
}

.middle > ul {
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: peachpuff;
}

/* .middle {

} */

.footer {
    width: 100%;
    position: fixed;
    bottom: 5px;
    background-color: burlywood;
    font-style: italic;
}

.footer > ul {
    float: left;
}

/* Footer buttons on the right; colour behaviour */
.footer img{
    float: right;
    right: 10px;
    margin: 1%;
}

.footer-img {
    right: 5px;
    filter: grayscale(100%);
}

.footer-img:hover {
    filter: grayscale(0%);
}

/* Footer image click effect */
.footer-img:active {
    filter: brightness(75%);
}