/* General div */
div {
    margin: 10px;
    padding: 1px;
    background-color: rgb(204, 220, 240);
}

/* Header formatting */
.header {
    font-style: italic;
    text-align: center;
    vertical-align: bottom;
}

/* Keep header image on left side */
.header > img {
    margin: 20px;
    /* float: left; */
    position: sticky;
}

/* Link button format */
button {
    margin: 5px;
    padding: 5px;
    /* background-color: lightgray; */
}

button:hover {
    background-color: lightsalmon;
}

button:active {
    background-color: gold;
}

/* button:focus {
    background-color: yellow;
} */


/* Aside 1 */
.aside1 {
    /* float: left; */
    width: 20%;
    position: sticky;
}

/* Aside 2 */
.aside2 {
    width: 20%;
}

/* List format */
ol {
    margin: 10px;
    padding: 10px;
    background-color: lightcyan;

}

ol > li {
    margin: 10px;
    padding: 5px;
    background-color: lightgreen;
}

/* Aside 3 */
.aside3 {
    float: right;
    width: 20%;
}


/* Remove list type */
ul {
    list-style-type: none;
    /* border: solid; */
}

/* Checkbox colours */
ul > li:nth-child(odd) {
    background: gold;
}

ul > li:nth-child(even) {
    background: lightgoldenrodyellow;
}

/* Checkbox rule to cross out item when checked */
input:checked + label{
    text-decoration: line-through;
    background: lightgray;
}

/* Add red-cross after checked item */
input:checked + label::after {
    content: '  \274C';
}

/* Center div */
.middle {
    float: right;
    /* width: 50%; */
}

/* Sections in Main Content */
p {
    border-style: round;
    margin: 5px;
    padding: 5px;
    background-color: lightcyan;
}