/* General Rules */
h2 {
    color: rgb(245, 201, 147);
    font-style: italic;
}

h3 {
    color: rgb(66, 37, 2);
    font-style: italic;
}


/* Part 1 Rules */
article {
    background-color: rgb(66, 37, 2);
}

/* Boxes in part 1 format */
article > div {
    margin: 5px;
    padding: 5px;
    background-color: rgb(245, 201, 147);
    color: rgb(66, 37, 2);
}

/* Part 1, Task 1 */
article > div:hover {
    border-color: red;
    border-style: solid;
}

/* Dim the boxes below of the div of focus */
div:hover ~ div {
    filter: opacity(25%);
}

/* Dim the boxes above the box of focus*/
div:has(~ div:is(:hover, :focus-visible)) {
    filter: opacity(25%);
}

/* Hide speech bubble */
.task1 > div {
    display: none;
}

/* Show speech bubble when hovering*/
.task1:hover {

    /* Speech bubble */
    div {
        display: block;
        position: relative;
        margin-bottom: 30px;
        padding: 5px;
        border-radius: .4em;
        background: orange;
    }
    
    /* Speech bubble corner */
    div:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 0;
        height: 0;
        border: 25px solid transparent;
        border-top-color: orange;
        border-bottom: 0;
        border-left: 0;
        margin-left: -25px;
        margin-bottom: -25px;
    }
}

/* Part 1, Task 2 */
/* Colour all list elements except special */
li:not(.special) {
    color: maroon;
}

/* First element: coloured block */
li:first-child {
    background-color: darkorange;
}

/* Second-last element: italics */
li:nth-last-child(2) {
    font-style: italic;
}

/* Last element: bold */
li:nth-child(odd) {
    font-weight: bold;
}

/* Part 2 Rules */
/* Background colour for part 2 */
article + article {
    background-color: rgb(245, 201, 147);
}

/* Background for part 2 divs and text */
article + article > div {
    margin: 5px;
    padding: 5px;
    background-color: rgb(66, 37, 2);
    color: rgb(245, 201, 147);
}

/* Border format when hovering */
article + article > div:hover {
    border-color: pink;
    border-style: dashed;
}

/* Part 2, Task 1 custom block quote */
blockquote:before {
    color: rgb(245, 201, 147);
    background: radial-gradient(
        ellipse at center,
        darkorange 0%,
        darkorange 70%,
        rgba(0, 128, 172, 0) 70.3%
    );
    content: open-quote;
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote:after {
    color: rgb(245, 201, 147);
    background: radial-gradient(
        ellipse at center,
        darkorange 0%,
        darkorange 70%,
        rgba(0, 128, 172, 0) 70.3%
    );

    content: close-quote;
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -1em;
}

/* Change colour of "Custom blockquote" */
.task1:hover {
    h4 {
        color: rgb(184, 59, 2);
    }

    blockquote:before {
        background: radial-gradient(
            ellipse at center,
            rgb(184, 59, 2) 0%,
            rgb(184, 59, 2) 70%,
            rgba(0, 128, 172, 0) 70.3%
        );
    }

    blockquote:after {
        background: radial-gradient(
            ellipse at center,
            rgb(184, 59, 2) 0%,
            rgb(184, 59, 2) 70%,
            rgba(0, 128, 172, 0) 70.3%
        );
    }
}

/* Part 2 list */
article + article {
    /* Faces */
    li:nth-child(even) {
        list-style-type: '\263A';
    }
    
    /* Undo Part 1 formatting */
    li:nth-child(n) {
        color: rgb(245, 201, 147);
        font-style: normal;
        font-weight: normal;
    }
}

/* Part 2 - Task 3: Right/Wrong */
.task3 {
    div {
        background-color: rgb(107, 62, 6);
        margin: 10px;
    }

    /* Highlight correct answer when hovering over "Right" */
    span:nth-child(1):hover {
        background-color: rgb(133, 56, 4);
        
        ~ .correct {
            background-color: rgb(133, 56, 4);
        }
        ~ .wrong {
            filter: opacity(25%);
        }
    }
    
    /* Highlight wrong answer when hovering over "Wrong" */
    span:nth-child(2):hover {
        background-color: rgb(133, 56, 4);
    
        ~ .wrong {
            background-color: rgb(133, 56, 4);
        }
        ~ .correct {
            filter: opacity(25%);
        }
    }
}

.task3:hover {
    .wrong:after{
        content: '\274C';
    }

    .correct:after{
        content: '\2705';
    }
}