html {
    font-family: Arial
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    border: 0px;
    /* align-items: flex-start; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* flex-flow: row; */
}

.header {
    flex: 100%;
    margin: 0px;
    border: 0px;
    padding: 10px;
    text-align: center;
    background-color: indigo;

    /* "About Canada" heading */
    a {
        color: white;
    }
}

/* Keeps the buttons beside the tabs rather than below */
.left {
    flex: 25%;
    /* display: flex;
    flex-direction: row; */
}

/* Left tab formatting */
.tabs > div{
    margin: 5px;
    padding: 5px;

    background-color: rgb(145, 120, 220);
    color: white;
}

/* Middle section formatting */

/* @media only screen and (min-width: 600px) {
    .left {
        flex: 25%;
    }
} */

.middle {
    flex: 50%;
    margin: 10px;
    /* align-self: center; */
}

/* Hide My Alberta dropdown */
.dropdown {
    display: none;
}

/* Button functions */
button {

    /* General button properties */
    border-radius: 7px;
    transform: skew(-15deg);
    margin-bottom: 25px;

    border-color: white;
    background-color: rgb(145, 120, 220);
    color: indigo;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

    /* Hovering behaviour */
    &:hover {
        transform: skew(0deg);
        padding: 5px;
    
        background-image: linear-gradient(rgb(195, 130, 238), rebeccapurple);
        color: white;       /* Last button */

        a {
            color: white;   /* First two buttons */
        }
    }
    
    /* Click behaviour */
    &:active a {
        background-color: aqua;
    }
}

/* Canada map img */
.main-img {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    flex-direction: column;
    height: 75%;
}

/* Canada map disappears */
.middle:has(:target) {
    .main-img {
        display: none;
    }
}

/* Hide popups */
    .popup {
        display: none;
    }

/* Show popup when button is clicked */
.popup:target {
    display: flex;
    flex-direction: column;
    position: relative;
}


.province {
    display: flex;
    margin: 5px;
    align-items: flex-end;
    
    /* Province names */
    p {
        display: flex;
        margin-left: 10px;
        margin-right: 10px;        
    }
    
    /* Hide area */
    .area {
        display: none;
    }

    /* Show area when hovering over flag */
    &:hover .area{
        display: block;
    }
}

/* "Provinces and Territories" section*/
.province-img {
    height: 50px;
}

/* Show the dropdown under "My Albera" */
#my-alberta:hover .dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    
    a {
        padding: 5px;
        text-align: left;
        background-color: rgb(145, 120, 220);
    }
    color: white;
    
    /* Make tab darker when hovering */
    a:hover{
        /* filter: opacity(25%); */
        background-color: indigo;
        color: rgb(145, 120, 220);
    }
}

/* Right section formatting */
.right {
    display: flex;

    /* height: 50%; */
    flex: 20%;
    padding: 20px;
    height: 300px;
    text-align: center;

    background-color: rgb(145, 120, 220);
    color: white;
}

/* Bottom section */
.footer {
    display: flex;
    position: fixed;
    left: 0px;
    bottom: 0px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 10px;
    width: 100%;

    font-size: small;
    font-weight: bold;
    background-color: rgb(145, 120, 220);
    color: indigo;
}